<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-admob-mediation" version="1.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>cordova-plugin-admob-mediation</name>
    <description>Cordova AdMob Mediation Plugin</description>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <platform name="android">
        <framework src="com.facebook.android:audience-network-sdk:6.16.+" />
        <framework src="com.google.ads.mediation:facebook:6.16.+" />
    </platform>
    <platform name="ios">
        <pods-config ios-min-version="9.0" use-frameworks="true" />
        <!-- I don't know if cocoapods support `.+` so I used the latest exact version -->
        <pod id="FBAudienceNetwork" version="6.15.0" />
        <pod id="GoogleMobileAdsMediationFacebook" version="6.14.0.0" />

        <!-- Prevents compilation failures when using pod's id with additional mediations plugins -->
        <dependency id="cordova-plugin-cocoapod-support" />
    </platform>
</plugin>
